{php}$title= '用户信息';{/php}
{include file="layout/header"}
<!--页面主要内容-->
<main class="lyear-layout-content">

    <div class="container-fluid p-t-15">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group" >
                            <label for="shopname">商品名称</label>
                            <input type="hidden" class="form-control" id="id" value="{$shop.id}" placeholder="">
                            <input type="text" class="form-control" id="shopname" value="{$shop.shopname}" placeholder="请输入商品名称">
                          </div>
                          <div class="form-group file-group">
                            <label for="shopimg">商品图片</label>
                            <div class="input-group">
                              <input type="text" id="shopimg" class="form-control file-value" name="shopimg" value="{$shop.shopimg}" placeholder="商品图片">
                              <input type="file" accaccept=".png,.jpg,.jpeg,.bmp,.gif" style="display: none">
                              <div class="input-group-btn">
                                <button class="btn btn-default file-browser" type="button">上传图片</button>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="shoptype">商品类型</label>
                            <select id="shoptype" class="form-control">
                              <option value="1">兑换会员</option>
                              <option value="2">其他类型</option>
                            </select>
                          </div>
                          <div class="form-group" >
                            <label for="money">消耗金币数</label>
                            <input type="email" class="form-control" id="money" value="{$shop.money}" placeholder="请输入消耗金币数">
                          </div>
                          <div class="form-group" >
                            <label for="vipnum">会员天数</label>
                            <input type="email" class="form-control" id="vipnum" value="{$shop.vipnum}" placeholder="请输入会员天数(其他类型可不填)">
                          </div>
                          <div class="form-group" >
                            <label for="inventory">库存数量</label>
                            <input type="email" class="form-control" id="inventory" value="{$shop.inventory}" placeholder="请输入库存数量">
                          </div>
                          <div class="form-group" >
                            <label for="shopcontent">商品描述</label>
                            <input type="email" class="form-control" id="shopcontent" value="{$shop.shopcontent}" placeholder="请输入商品描述">
                          </div>
                          <div class="form-group" >
                            <label for="shopresult">为其他类型商品作为输出结果</label>
                            <input type="email" class="form-control" id="shopresult" value="{$shop.shopresult}" placeholder="为其他类型作为输出结果">
                          </div>
                          <div class="form-group" >
                            <label for="appid">appid</label>
                            <input type="text" class="form-control" id="appid" value="{$shop.appid}" placeholder="请输入应用id" disabled>
                          </div>

                        <button type="button" onclick="updateshop()" class="btn btn-primary mb-2">提交</button>
                        <button type="button" class="btn btn-default mb-2" onclick="javascript:history.back(-1);return false;">返 回
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--End 页面主要内容-->
</div>
</div>
{include file="layout/footer"}
<script>
    $("#shoptype").val("{$shop.shoptype}");
    function updateshop(){
        var l = $('body').lyearloading({
            opacity: 0.2,
            spinnerSize: 'lg',
            spinnerText: '后台处理中，请稍后...',
            textColorClass: 'text-info',
            spinnerColorClass: 'text-info'
        });
        var id = $.trim($("#id").val());
        var shopname = $.trim($("#shopname").val());
        var shopimg = $.trim($("#shopimg").val());
        var shoptype = $.trim($("#shoptype").val());
        var money = $.trim($("#money").val());
        var vipnum = $.trim($("#vipnum").val());
        var inventory = $.trim($("#inventory").val());
        var shopcontent = $.trim($("#shopcontent").val());
        var shopresult = $.trim($("#shopresult").val());
        $.ajax({
            type: "POST",
            url: "{:url('shop/updateshop')}",
            data: {
                id: id,
                shopname: shopname,
                shopimg: shopimg,
                shoptype: shoptype,
                money: money,
                vipnum: vipnum,
                inventory:inventory,
                shopcontent:shopcontent,
                shopresult:shopresult
            },
            dataType: "json",
            success: function (data) {
                setTimeout(function() {
                    l.destroy();
                }, 1e3)
                if (data.code == 200){
                    $.notify({
                        message: data.msg
                    },{
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        type: 'success'
                    });
                }else{
                    $.notify({
                        message: data.msg
                    },{
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        // settings
                        type: 'danger'
                    });
                }
            }
        })
    }

    $(document).ready(function() {
        $(document).on('click', '.file-browser', function() {
            var $browser = $(this);
            var file = $browser.closest('.file-group').find('[type="file"]');
            file.on( 'click', function(e) {
                e.stopPropagation();
            });
            file.trigger('click');
        });

        $(document).on('change', '.file-group [type="file"]', function() {
            var l = $('body').lyearloading({
                opacity: 0.2,
                spinnerSize: 'lg',
                spinnerText: '后台处理中，请稍后...',
                textColorClass: 'text-info',
                spinnerColorClass: 'text-info'
            });
            var $this    = $(this);
            var $input   = $(this)[0];
            var $len     = $input.files.length;
            var formFile = new FormData();

            if ($len == 0) {
                return false;
            } else {
                var fileAccaccept = $this.attr('accaccept');
                var fileType      = $input.files[0].type;
                var type          = (fileType.substr(fileType.lastIndexOf("/") + 1)).toLowerCase();

                if (!type || fileAccaccept.indexOf(type) == -1) {
                    $.notify({
                        message: '您上传图片的类型不符合(.jpg|.jpeg|.gif|.png|.bmp)',
                    },{
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        type: 'success'
                    });
                    l.destroy();
                    return false;
                }
                formFile.append("file", $input.files[0]);
            }

            var data = formFile;

            $.ajax({
                url: "{:url('index/upload')}",
                data: data,
                type: "POST",
                dataType: "json",
                //上传文件无需缓存
                cache: false,
                //用于对data参数进行序列化处理 这里必须false
                processData: false,
                //必须
                contentType: false,
                success: function (res) {
                    setTimeout(function() {
                        l.destroy();
                    }, 1e3)
                    if (res.code == 200) {
                        $.notify({
                            message: res.msg
                        },{
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success'
                        });
                        //console.log(res.data.filePath);
                        $this.closest('.file-group').find('.file-value').val(res.data.fullPath);
                    } else {
                        $.notify({
                            message: "系统错误"
                        },{
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            // settings
                            type: 'danger'
                        });
                    }
                },
            });
        });
    });

</script>

</body>

</html>
